.pokedex__buttons {
  bottom: 10%;
  display: flex;
  gap: 20px;
  left: 50%;
  position: absolute;
  transform: translate(-57%, 0);
  width: 65%;
}

.pokedex__buttons--button {
  background-color: #4444;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  color: #fff;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  padding: 4%;
  width: 50%;
}

.pokedex__buttons--button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}
